body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #d4af37; /* dourado */
}

header {
    background: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #d4af37;
}

h1 {
    margin: 0;
    color: #d4af37;
}

.controls {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.controls button {
    background: #d4af37;
    color: black;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background: #b8902f;
}

.controls input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #d4af37;
    background: #111;
    color: #d4af37;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.filters select {
    padding: 10px;
    border-radius: 5px;
    background: #111;
    color: #d4af37;
    border: 2px solid #d4af37;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #d4af37;
    padding: 8px;
    text-align: center;
}

th {
    background: #111;
}
